<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright DEMERYS <%= Date.today.strftime("%Y") %></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#"><%= fa_icon "github" %> Github</a></li>
          <li><a href="#"><%= fa_icon "twitter" %> Twitter</a></li>
          <li><a href="#"><%= fa_icon "legal" %> Mentions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
